<div style="text-align:center;margin:20px 0 0 0">
  <button mat-fab color="primary">1</button>
  <b>----</b>
  <button mat-fab disabled>2</button>
  <b>----</b>
  <button mat-fab disabled>3</button>
  <b>---</b>
  <button mat-fab disabled>4</button>
</div>
<form class="example-form" [formGroup]="selectRecruiter" (ngSubmit)="onSubmit()">
<div style="text-align:center;margin:90px 0 0 0"> 
  <mat-radio-group formControlName="recruiters">
    <mat-radio-button checked value="company"> Company </mat-radio-button>
    &nbsp;<mat-radio-button value="faculty"> Faculty</mat-radio-button>
  </mat-radio-group>
  
  <div style="margin:10px 0 0 0"><br><button mat-raised-button color="primary" type="submit">Next</button></div>
</div>
</form>